
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  background-color: #1635e9;
  height: 80px;
  color: white;
  padding-top: 3vh;
}
.sb{
  width: 600px;
  height: 55px;
  border-radius: 35px;
  padding-left: 20px;
  position: relative;
  top: -1vh;
  border: 2px, solid, blue;
  margin-left: -150px;
}
.logo{
  margin-left: -2vw;
  margin-top: -7px;
  position: relative;
  top: -1vh;
}
.re{
  font-size: 13px;
  background-color: transparent;
  border: none;
  margin-top: -2vh;
  margin-left: -18px;
  color: white;
}
.lg{
  font-size: 13px;
  background-color: transparent;
  border: none;
  margin-top: -2vh;
  color: white;
  margin-left: -18px;
}
.drop{
  border-radius: 25px;
  width: 300px;
  height: 50px;
  padding-left: 60px;
  position: relative;
  top: -2px;
  left: -106px;
  background-color: #162caa;
  color: white;
  border: none;
  font-weight: 600px;
}
.lg:hover{
  background-color: yellow;
  }
  .re:hover{
  font-size: 12px;
  background-color: yellow;
}
.iic{
  width: 35px;
  position: relative;
  top: -8.6vh;
  left: 146px;
}
.bold{
  font-weight: 900;
}
.sb::placeholder{
  color: #0026fff3;
}